.carouselCont{
    height: 300px;
    width: 850px;
    position: relative;
    overflow: hidden;
}

.carousel{
    display:flex;
    align-items: center;
    height: 300px;
    position: relative;
    scroll-behavior: smooth;
}
@media (max-width: 992px) {
    .carouselCont{
        width: 700px;
    }
}
@media (max-width: 768px) {
    .carouselCont{
        width: 600px;
    }
}
@media (max-width: 600px) {
    .carouselCont{
        width: 360px;
    }
}
