.discount,
.discountText,
hr{
    text-align: left;
    padding: 0;
    margin: 0;
}

hr{
    color: black;
    width: 150px;
    border: 1px solid black;
    overflow: hidden;
}

.discount{
    font-size: 1.5rem;
}

.discountText{
    font-size: .8rem;
    color: #6b6b6b;
}