.cont{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: left;
}

.name,
.reviews,
.hrDiv{
    padding-left: 60px;
}

.name{
    font-size: 25px;
    height: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.hrDiv hr{
    border-bottom: 1px solid #606060;
    width: 95%;
}
.buyButton{
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    background: #0053a0;
    border: 1px solid #0053a0;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    right: 20px;
}
.buyButton:hover{
    background: #0079e8;
}

.reviews p{
    display: inline;
}
.reviews p:last-child{
    padding-left: 20px;
}

@media (max-width: 768px) {
    .buyButton {
        width: 100px;
        right: 0;
    }
    .name,
    .reviews,
    .hrDiv{
        padding: 0 20px;
    }
    .name{
        font-size: 20px;
    }
    .reviews{
        font-size: 15px;
    }
    .reviews p:last-child{
        padding: 5px;
    }
}