.container{
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    /*overflow-y: auto;*/
    gap: 10px;
    padding: 0 50px;
    box-sizing: border-box;

}
.size{
    padding: 25px 25px 0 25px;
    transition: 0.5s;
}
.dot{
    width: 15px;
    height: 15px;
    background-color: black;
    margin: auto;
    border-radius: 50%;
    transition: 0.5s;
}
.sizeCont{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
}

.sizeCont:hover {
    cursor: pointer;
}
.sizeCont:hover .size{
    transform: translateY(-15px);
}
.sizeCont:hover .dot{
    background-color: white;
}
.sizeCont:focus .dot,
.dot:focus{
    background-color: white;
}
.sizeCont:focus .size,
.size:focus{
    transform: translateY(-15px);
}





