.header,
.bottom{
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-sizing: border-box;
    padding: 0 30px;
}
.header div{
    padding: 30px;
    text-transform: uppercase;
}

.middle{
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}
.bottom{
    height: 255px;
    background-color: black;
    color: white;
}

.mainPicture{
    max-width: 80%;
    height: auto;
    margin-bottom: 80px;
    transform: rotateZ(-30deg);
}
