.header,
.bottom{
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-sizing: border-box;
    padding: 0 30px;
}
.header div{
    padding: 30px;
    text-transform: uppercase;
}

.middle{
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.bottom{
    height: 255px;
    background-color: black;
    color: white;
}

.mainPicture{
    max-width: 80%;
    height: auto;
    margin-bottom: 80px;
    transform: rotateZ(-30deg);
}

@media (max-width: 1200px){
    .mainPicture{
        max-width: 160px;
        margin: 0;
    }
    .header{
        height: 80px;
    }
    .header div{
        padding: 0;
        font-size: 14px;
    }
    .middle{
        height: 200px;
    }
    .bottom{
        height: 225px;
    }
}