.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  transition: 1s;
}

.left{
  width: 65%;
  background-color: #edf3f8;
}

.right{
  width: 35%;
  background-color: lightgrey;
  overflow: hidden;
  transition: 1s;
}

.left,
.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px){

  .left{
    width: 100%;
  }

  .right{
    display: none;
    width: 0;
  }
}